{{ $paginator := .Paginator.Pages.GroupByDate .Site.Params.yearFormat }}
{{ partial "list.html" (dict "paginator" $paginator "ctx" .) }}

<div class="post-list">
    {{ range .Paginator.Pages }}
      <div class="post">
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Summary }}</p>
      </div>
    {{ end }}

    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}" class="pagination-next">Next</a>
    {{ end }}
</div>
{{ range .Pages }}
  <article>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p>{{ .Summary }}</p>
  </article>
{{ end }}
